@tailwind base;
@tailwind components;
@tailwind utilities;

 {
  /*Colour Responsive
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
}

.glowBox {
  @apply rounded-xl
  border border-transparent 
  px-5 py-4 
  transition-colors 
  hover:border-dotted hover:border-zinc-700;
}

.dotLink {
  @apply underline
  underline-offset-6
  decoration-dotted
  decoration-zinc-600;
}

.wordmark {
  fill: #757575;
  transition: fill 10s;
  transition-delay: 5s;
}

.wordmark:hover {
  fill: transparent;
  transition: fill 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
